.btn {
  margin: 0px 5px;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100%;

  &_primary {
    background-color: #2dca73;
    color: #ffffff;
  }
  &:disabled{
    cursor: not-allowed;
    background-color: gray;
  }
}
