.nav {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  &_left-section, 
  &_right-section{
    display: flex;
  }
}
