.search-wrapper {
  position: relative;
  .search-box {
    background: #ffffff;
    border: 1px solid #d7dfe9;
    border-radius: 3px;
    width: 648px;
    height: 40px;
    padding: 8px;
    padding-left: 30px;
    outline: none;
    &:focus {
      border-color: #0b69ff;
    }
  }
  .search-icon {
    .icon {
      width: 24px;
      height: 24px;
    }
    position: absolute;
    left: 10px;
    top: 14px;
  }
}
