body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.resource-list{
  height: calc(100vh - 200px);
  overflow: auto;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}


.card{
  height: 100px;
  width: 200px;
  border: 1px solid black;
  margin: 10px;
}